<link rel="stylesheet" href="/styles/home.css">

<!-- Universal nav bar -->
<%- include('../partials/header.ejs') %>

<!-- Folder creation modal -->
<dialog class="folder-dialog">
  <h1>Create new folder</h1>
  <form method="post">
    <div class="modal-input">
      <input type="text" name="folderName">
    </div>
    <div class="modal-btns">
      <button class="cancel cancel">Cancel</button>
      <button class="create">Create</button>
    </div>
  </form>
</dialog>

<dialog class="upload-dialog">
  <h1>Upload file</h1>
  <form method="post" action="/upload/folders/<%=currFolder.id%>" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <div class="modal-btns">
      <button class="cancel-upload cancel">Cancel</button>
      <button class="create">Upload</button>
    </div>
  </form>
</dialog>

<div class="main-body">

  <!-- Retrive all folders and files here -->
  <div class="drive-content">

    <!-- print the current folder path name -->
    <div class="tab">
      <% path.forEach((folder, index)=>{ %>
      <a href="/folders/<%=folder.id%>">
        <%=folder.name%>
      </a>
      <% if (index !== path.length - 1) { %>
      <p> > </p>
      <% } %>
      <% }) %>
    </div>

    <div class="folders">
      <!-- Show the column headers -->
      <div class="attributes-header">
        <h2>Name</h2>
        <h2>Size</h2>
        <h2>Created</h2>
      </div>

      <% if (currFolder.parentId) { %>
      <div class="file-row">
       <a href="/folders/<%=currFolder.parentId%>"><h3 class="folder-name">...</h3></a>
      </div>
      <% } %>

      <!-- Show child contents here -->
      <% if (children.length != 0) { %>
      <% children.map((child)=>{ %>
      <div class="file-row">
        <a href="/folders/<%=child.id%>">
          <img src="/img/<%=child.type == 'FILE' ? 'file.svg' : 'folder.svg'%>" class="item-img">
          <h3 class="folder-name">
            <%=child.name%>
          </h3>
        </a>

        <!-- if a folder, show - otherwise show the file size -->
        <p><%=child.size ? child.size : '-'%></p>
        <div class="folder-btns">
          <p><%=child.created%></p>
        </div>
      </div>
      <% }) %>
      <% } else { %>
      <div class="error-msg">
        <h4>No items in this folder</h4>
      </div>
      <% } %>
    </div>
  </div>
</div>

<h1><%= userMessage %></h1>

<script defer>
  const dialog = document.querySelector(".folder-dialog");
  const uploadDialog = document.querySelector(".upload-dialog");
  const showButton = document.querySelector(".main-btn");
  const showUploadButton = document.querySelector(".upload");
  const cancelUploadButton = document.querySelector(".cancel-upload");
  const cancelButton = document.querySelector(".cancel");

  showButton.addEventListener("click", () => {
    dialog.showModal();
  });
  showUploadButton.addEventListener("click", () => {
    uploadDialog.showModal();
  });

  cancelUploadButton.addEventListener("click", (e) => {
    e.preventDefault();
    uploadDialog.close();
  });

  cancelButton.addEventListener("click", (e) => {
    e.preventDefault();
    dialog.close();
  });
</script>