<link rel="stylesheet" href="/home.css">

<!-- Universal nav bar -->
<%- include('../partials/header.ejs') %>

<!-- Folder creation modal -->
<dialog>
  <form method="post">
    <label for="folderName">Folder Name:</label>
    <input type="text" name="folderName">
    <button>Create</button>
  </form>
</dialog>



<div class="main-body">

  <!-- Retrive all folders and files here -->
  <div class="drive-content">
    <!-- print the current folder name -->
    <div class="tab">
      <% path.map((folder)=>{ %>
      <p>
        <a href="/folders/<%=folder.id%>">
          <%=folder.name%>
        </a>
      </p> >
      <% }) %>

    </div>
    <!-- Show child contents here -->
    <div class="folders">
      <% if (children.length != 0) { %>
      <% children.map((child)=>{ %>
      <div class="file-row">
        <a href="/folders/<%=child.id%>">
          <h3>
            <%=child.name%>
          </h3>
        </a>
        <button class="delete">Delete</button>
      </div>
      <% }) %>
      <% } else { %>
      <h1>No items in this folder</h1>
      <% } %>
    </div>
  </div>
</div>

<script defer>
  const dialog = document.querySelector("dialog");
  const showButton = document.querySelector(".submit");

  showButton.addEventListener("click", () => {
    dialog.showModal();
  })
</script>