<link rel="stylesheet" href="/styles/home.css">

<!-- Universal nav bar -->
<%- include('../partials/header.ejs') %>

<div class="main-body">

  <!-- Retrive all folders and files here -->
  <div class="drive-content">

    <!-- print the current folder path name -->
    <%- include('../partials/tab.ejs') %>

    <div class="folders">
      <form method="post">
        <label class="rename-title" for="itemName">Rename:</label>
        <input type="text" value="<%=item.name%>" name="itemName">
        <div class="item-btns">
          <button class="main-btn submit">Update</button>
        </div>
      </form>
  <form action="/delete/<%=item.id%>" method="post">
    <div class="delete-btn"> <a href="/delete/<%=item.id%>"><button class="submit delete">Delete</button></a>
  </form>
      </div>
    </div>
  </div>
</div>